@{
    ViewBag.Title = "Get Involved";
}

<!DOCTYPE html>
<html>

 <body>
<table >
   
    <tr> <td>Get involved with following activities:
        <br/>
<br/>
Cambodian Day
        <br/><br/>
Sri Lankan Day
        <br/><br/>
Dhamma School
        <br/><br/>
Dhamma Talk and Discussions
        <br/><br/>
Meditation
        <br/><br/>
Sinhala & Tamil New Year
        <br/><br/>
Seth Pirith
        <br/><br/>
Chanting & Counselling
<br/><br/>
       
  

         </td>
       
  
        <td><p>Cambodian Day</p><img src="/Content/images/Cambodian.jpg" width="400"  height= "300"><br />Cambodians get together every Sunday.</td>
        <td><p>Sri Lankan Day</p><img src="/Content/images/Srilankan.jpg" width="400"  height= "300"><br/>Sri Lankans get together every second Saturday. </td>
        <td><p>All that we are<br /> is the result<br /> of what we<br /> have thought.<br />
If a man <br />speaks or<br /> acts with an <br />evil thought,<br /> pain follows him. <br />
If a man <br />speaks or<br /> acts with a <br />pure thought,<br /> 
happiness follows him,<br /> like a shadow<br /> that never leaves him.

</p></td>
         
          </tr>
    <tr>
        <td>  <p>
These activities are open to everyone.<br />
Please contact us, if you would like to <br />
participate. </p>
<br/>
<br/>
Phone:<br/><br/>
206-277-8399</td>
        <td><p>Dhamma School</p><img src="/Content/images/DhammaSchool.jpg" width="400"  height= "300"><br />Dhamma School is held every 4th Sunday.<br /> Volunteer teachers work hard to teach Buddhism <br /> for all the kids by providing right level syllabus.</td>
         <td><p>Dhamma Talk & Discussion</p><img src="/Content/images/DhammaTalk.jpg" width="400"  height= "300"><br/>Devotees can participate in Dhamma<br /> discussions while kids are in Dhamma School<br /> every 4th Sunday. </td>
        
    </tr>
    <tr>
        <td></td>
        <td><p>Meditation</p><img src="/Content/images/Monk-Meditation.jpg" width="400"  height= "300"></td>
         <td><p>Sinhala & Tamil New Year</p><img src="/Content/images/Avurudu.jpg" width="400"  height= "300"><br/>Sri Lankans gather to celebrate Sinhala and<br /> Tamil New Year mid April every year. </td>
    </tr>

    <tr>
        <td></td>
        <td><p>Seth Pirith</p><img src="/Content/images/sethpirith.jpg" width="400"  height= "300"></td>
         <td><p>Chanting & Counselling</p><img src="/Content/images/Counseling.jpg" width="400"  height= "300"></td>
    </tr>



        </table>
     </body>
    </html>
