@{
	ViewBag.Title = "Home Page";
	
}

<!DOCTYPE html>
<html>

 <body>
<table >
   
	<tr> <td><img src="/Content/images/buddha.jpg" width="200"  height= "300">
			 <img src="/Content/images/firstpage1.jpg" width="200"  height= "160">
			<img src="/Content/images/firstpage2.jpg" width="200"  height= "160">
		</td>
		<td><h2> Mission </h2>
			<p>The mission of the Sarana International Budhist Temple is to share the Buddha's message to everyone to bring the peace and happiness within ourselves and the
	 world around us. We welcome all of you to participate in spiritual practice such as observance of precepts, Seth Pirith, Dhamma School and Dhamma discussions.
	 Community events are organized regularly for those who would like to meet-and-greet monks and friends. The temple is open to everyone regardless
	 of religion,tradition and culture.
</p>
		  
	   <h2> Resident Monks</h2> 

<h3> Ven. Polwatte Pagnananda Thero </h3>
		<p><img src="/Content/images/PagnanandaThero.jpg" width="150"  height= "150" style="display:block; margin-left:0" class="thumbnail">Ven. Polwatte Pagnananda, entered the order of bhikkus in 1965 in Sri Lanka under the patronage of Venerable Mullegama Seelananda and Labugama Lankananda Maha Thero,
	 and received his higher ordination in 1974 from Akurana Pannaransi Maha Thero, the Sanghanayake (leader) of the Raigama Korale (Siamese sect-Kotte chapter).
	 He received his early education from Paravahera Pagnnananda Maha Thero at Dharmaduta Buddhist Seminary in Colombo, and later studied at Vidyaratana Affiliated
	 University Parivena. In 1977 he completed the GCE Advanced Level Examination, in 1981 the First Examination of the Pracina Panditha degree, 
	and in 1983 received a Bachelor of Arts degree from the University of Kelaniya. He was active in various religious and social activities in the Horana area
	 from 1986 to 1994, and was eventually appointed as the chief incumbent of the Boddalgoda Sri Devarakshita Temple.
</p>
		   <h3> Ven. Seng Pok Khantipalo </h3>

<p><img src="/Content/images/cambodianMonk.jpg" width="150"  height= "150" style="display:block; margin-left:0" class="thumbnail">
	Ven. Seng Pok Khantipalo is originally from Cambodia and holds a bachelors degree in Arts from Cambodia. He attained priesthood 7 years ago in Boston, MA 
	and focuses on meditation and dhamma preaching for the Cambodian community.

</p>
						<h3> Ven. Kollandeniye Chandima </h3>

<p><img src="/Content/images/chandimaThero.jpg" width="150"  height= "150" style="display:block; margin-left:0" class="thumbnail">
	Ven. Kollandeniye Chandima joined SIBC in October 2013 as a resident monk from Sri Lanka. He entered the order of Bhikkus in 2000 and attained higher-ordination in 2013.
	 Most recently Ven. Chandima was attached to the Embulgama Raja Maha Vihara in Embulgama, Hanwella. Previously he spent 6 years at the Nandana Piriwena
	 in Kesbewa, Sri Lanka. Ven. Chandima will be over-looking the religious activities and helping with the Dhamma School at SIBC.
</p>
		</td>

		<td>
			<a href="http://www.meetup.com/SouthSeattle-Tukwila-Mindfulness-Loving-Kindness-Meditation">Join SIBC Meditation Group</a>			<p>It is you who must make the effort.  Masters only point the way.</p>
			<p><b>Buddha (Dhammapada)</b></p>
			<p>You are the source of all purity and impurity.  No one purifies another.</p>
			<p><b>Buddha (Dhammapada)</b></p>			<p><b>Connect with us on facebook for updates</b></p>			<a href="https://www.facebook.com/sibc.tukwila"> <img src ="https://badge.facebook.com/badge/100001385097639.2177.1878258317.png" width="100" height="140"/></a>
		</td>
		</tr>

		</table>
	 </body>
	</html>