@{
    ViewBag.Title = "Resources";
}



<!DOCTYPE html>
<html>


 <body>

    <table >
   
    <tr>
        <td><img src="/Content/images/pic1.jpg" width="200"  height= "300"></td>
        <td><h2> What Is Buddhism? </h2>
            <p>
    Buddhism is a religion based on the teachings of Siddhartha Gautama, who lived about 25 centuries ago in north-eastern India.     He came to be called "the Buddha," which means "awakened one," after he experienced a profound realization of the nature of life, death and existence.     He is recognized by Buddhists as a teacher who shared his insights to help sentient beings end suffering through eliminating ignorance by way of     understanding and seeing dependent origination and eliminating craving, and thus attain the highest happiness, nirvana.            </p>

       </td>
   </tr> 
   <tr>
     <td ><img src="/Content/images/Avukana.jpg" width="200"  height= "300"></td>
     <td><h2> On-line Resources </h2>
<p> There are many excellent resources available on-line that will help you learn Buddhism in depth.</p>

<a href="http://www.buddhanet.net">Buddhanet</a>	
<p>This is a great site for those who are interested in learning more about Buddhism.
In this site you will find lots of <a href="http://www.buddhanet.net/ebooks.htm">free e-books</a>, basic Buddhism guides, meditation instructions, Buddhist chantings, Dhamma talks and much more. </p><a href="http://www.buddhist-book-reviews.com/">Buddhist book reviews</a><p>
 This site provides book reviews and recommendations about Buddhist books, and helps you discover some of the best and most useful Buddhist books currently available.
</p>

<a href="http://buddhistcc.net/?404;http://buddhistcc.net/bookshop/index.asp/">Buddhist Cultural Centre</a>
<p>
    This reliable online store provides a large number of Buddhist books written in English and Sinhala.
</p>

<a href="http://www.mahamevnawa.lk">Mahamevnawa Monastery </a><p>
This site has both English and Sinhala versions of dhamma talks ,chantings and much more.
</p>


     </td>
 </tr>
<tr>
     <td ><img src="/Content/images/Polonnaruwa.jpg" width="200"  height= "300"></td>
    <td><h2>Pali Devotional Chanting</h2>

<img src="/Content/images/sound.jpg" width="12" height="12"/ >&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/01-chant-01.mp3"> Introduction</a>
<br />
<img src="/Content/images/sound.jpg"  width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/02-chant-02.mp3">Buddhabhivadana - Salutation to the Buddha</a> 
<br />								
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/03-chant-03.mp3">Tri-Sarana - The Three Refuges</a> 
<br />					
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/04-chant-04.mp3">Panca Sila - The Five Precept</a> 
<br />	
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/05-chant-05.mp3">Buddha Vandana - Homage to the Buddha</a> 
<br />			
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/06-chant-06.mp3">Dhamma Vandana - Homage to the Doctrine</a> 
<br />					
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/07-chant-07.mp3">Homage to the Disciples of the Buddha</a> 
<br />			
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/08-chant-08.mp3">Cetiya Vandana - Salutation to the Pagodas</a> 
<br />		
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/09-chant-09.mp3">Bodhi Vandana - Salutation to the Bodhi Tree</a> 
<br />			
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/10-chant-10.mp3">Padipa Puja - Offering of Lights</a> 
<br />				
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/11-chant-11.mp3">Sugandha Puja - Offering of Incense</a> 
<br />					
<img src="/Content/images/sound.jpg" width="12" height="12"/>&nbsp;&nbsp;
<a href="http://sibc-tukwila.org/audio/12-chant-12.mp3">Puppha Puja - Offering of Flowers</a> 

    </td>
    </tr>
        </table>
</body>
  



</html>